<h2 class="row justify-content-center">
	{{vm.business.companyName}} homepage</h2>


<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#/business/{{vm.business.id}}"
				 role="tab" aria-controls="home">Home</a>
				<a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#/business/{{vm.business.id}}/quote"
				 role="tab" aria-controls="profile">View all quotes</a>
				<a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#/business/{{vm.business.id}}/quote"
				 role="tab" aria-controls="messages">View pending quotes</a>
				<a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="modal" data-target="#exampleModalLong"
				 role="tab" aria-controls="settings">View accepted quotes</a>
				<a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="modal" data-target="#exampleModalLong"
				 role="tab" aria-controls="settings">View requests in area</a>
				<a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" role="tab" aria-controls="settings"
				 href="#/business/{{vm.business.id}}/settings">Settings</a>
			</div>
		</div>
		<div class="col-sm">

		</div>
		<div class="col-sm-3">
			<ul class="list-group">
				<li class="list-group-item">
					<strong>Phone:</strong> {{vm.business.contact.phone}}</li>
				<li class="list-group-item">
					<strong>Email:</strong> {{vm.business.contact.email}}</li>
				<li class="list-group-item">
					<strong>Website:</strong><a href="{{vm.business.website}}">{{vm.business.website}}</a></li>
				<li class="list-group-item">
					<strong>Address:</strong> {{vm.business.contact.address1}}</li>
				<li class="list-group-item">
					<strong>Address 2:</strong> {{vm.business.contact.address2}}</li>
				<li class="list-group-item">
					<strong>City:</strong> {{vm.business.contact.city}}</li>
				<li class="list-group-item">
					<strong>State:</strong> {{vm.business.contact.state}}</li>
				<li class="list-group-item">
					<strong>Zip Code:</strong> {{vm.business.contact.zipcode}}</li>
			</ul>
			<div>
				<h3 class="row justify-content-center">Certifications</h3>
				<certification> Loading cert... </certification>
				<button class="btn btn-primary" ng-click="vm.getCertifications()">Add Certification</button>
			</div>
		</div>
	</div>
</div>




<button type="button" ng-click="vm.getRequests()">View All Requests</button>

<h3>{{vm.business.companyName}}'s Requests</h3>
<ul>
	<div ng-hide="vm.copy" ng-repeat="quote in vm.winningQuotes">
		<h5>Winning Quotes</h5>
		<li ng-click="vm.detailedQuote(quote)">
			{{quote.request.user.lastName}}, {{quote.description}} {{quote.postDate | date: "MMM dd, yy"}} {{quote.request.vehicle.make}}
			{{quote.request.vehicle.model}}
		</li>
	</div>
</ul>
<ul>
	<div ng-hide="vm.copy" ng-repeat="quote in vm.pendingQuotes">
		<h5>Pending Quotes</h5>
		<li ng-click="vm.detailedQuote(quote)">
			{{quote.request.user.lastName}}, {{quote.description}} {{quote.expireDate | date: "MMM dd, yy"}} {{quote.request.vehicle.make}}
			{{quote.request.vehicle.model}}
		</li>
	</div>
</ul>
<ul>
	<div ng-hide="vm.copy" ng-repeat="quote in vm.completedQuotes">
		<h5>Completed Quotes</h5>
		<li ng-click="vm.detailedQuote(quote)">
			{{quote.request.user.lastName}}, {{quote.description}} {{quote.expireDate | date: "MMM dd, yy"}} {{quote.request.vehicle.make}}
			{{quote.request.vehicle.model}}
			<!-- {{quote.completeDate | date: "MMM dd, yy"]}} -->
		</li>
	</div>
</ul>

<div class="container">
	<div class="row">
		<div class="col-3"></div>
		<div class="col" ng-model="vm.copy" ng-show="vm.copy">
			<form>
				Customer Name: {{vm.copy.request.user.firstName}} {{vm.copy.request.user.lastName}}
				<br> Phone Number: {{vm.copy.request.user.contact.phone}}
				<br> Vehicle Information: {{vm.copy.request.vehicle.make}}{{vm.copy.request.vehicle.model}}{{vm.copy.request.vehicle.year}}
				<br> VIN: {{vm.copy.request.vehicle.vin}}
				<br> Mileage: {{vm.copy.request.vehicle.mileage}}
				<br> Vehicle Issues: {{vm.copy.request.description}}
				<br> Work Description: {{vm.copy.description}}
				<div ng-show="vm.update">
					<input type="text" ng-model="vm.copy.description"></input>
				</div>
				<br> Expire Date : {{vm.copy.expireDate | date:"MMM dd, yy"}}
				<div ng-show="vm.update">
					<input type="date" ng-model="vm.copy.expireDate"></input>
				</div>
				<br> Estimate : {{vm.copy.estimate}}
				<br> Completed : {{vm.copy.completed}}
				<input type="checkbox" ng-model="vm.copy.completed" ng-change="vm.updateQuote(vm.copy)">
				<br>
				<div ng-show="vm.update">
					Complete Date
					<input type="date" name="Complete Date" ng-model="vm.copy.completeDate"></input>
					<br>
					<button type="button" ng-click="vm.markComplete(vm.copy)">Submit Completion</button>
				</div>

			</form>
			<button type="button" ng-click="vm.update = true">Update Quote</button>
			<button type="button" ng-click="vm.copy = null; vm.update = null">Return</button>
		</div>
		<div class="col-3"></div>
	</div>
</div>