<h2>{{vm.business.companyName}} Business Home </h2>
<p> Welcome {{vm.business.loginName}}! </p>



<button type="button"  ng-click="vm.getRequests()">View Requests</button>
<ul>
	<div ng-hide="vm.copy" ng-repeat="quote in vm.winningQuotes">
	<h5>Winning Quotes</h5>
		<li ng-click="vm.detailedQuote(quote)">
			{{quote.request.user.lastName}},
			{{quote.description}}
			{{quote.postDate | date: "MMM dd, yy"}}
			{{quote.request.vehicle.make}}
			{{quote.request.vehicle.model}}
		</li>
	</div>
</ul>
<ul>
	<div ng-hide="vm.copy" ng-repeat="quote in vm.pendingQuotes">
	<h5>Pending Quotes</h5>
		<li ng-click="vm.detailedQuote(quote)">
			{{quote.request.user.lastName}},
			{{quote.description}}
			{{quote.expireDate | date: "MMM dd, yy"}}
			{{quote.request.vehicle.make}}
			{{quote.request.vehicle.model}}
		</li>
	</div>
</ul>

<div class="container">
<div class ="row">
<div class = "col-3"></div>
<div class="col" ng-model="vm.copy" ng-show="vm.copy">
	<form>
		Customer Name: {{vm.copy.request.user.firstName}} {{vm.copy.request.user.lastName}}<br>
		
		Phone Number: {{vm.copy.request.user.contact.phone}}<br>
		
		Vehicle Information: {{vm.copy.request.vehicle.make}}{{vm.copy.request.vehicle.model}}{{vm.copy.request.vehicle.year}}<br>
		
		VIN: {{vm.copy.request.vehicle.vin}}<br>
		
		Mileage: {{vm.copy.request.vehicle.mileage}} <br>
		
		Vehicle Issues: {{vm.copy.request.description}} <br>
		
		Work Description: {{vm.copy.description}}
		<div ng-show="vm.update"><input type="text" ng-model="vm.copy.description"></input></div><br>
		
		Expire Date : {{vm.copy.expireDate | date:"MMM dd, yy"}}
		<div ng-show="vm.update"><input type="date" ng-model="vm.copy.expireDate"></input></div><br>
		
		Estimate : {{vm.copy.estimate}}<br>
		Completed : {{vm.copy.completed}} <input type="checkbox" ng-model="vm.copy.completed" ng-change="vm.updateQuote(vm.copy)"><br>
		<div ng-show="vm.update">
		Complete Date<input type="date" name="Complete Date" ng-model="vm.copy.completeDate"></input><br>
		<button type="button" ng-click="vm.markComplete(vm.copy)">Submit Completion</button>
		</div>
	
	</form>	
	<button type="button" ng-click="vm.update = true">Update Quote</button>
	<button type="button" ng-click="vm.copy = null; vm.update = null">Return</button>
</div>
<div class = "col-3"></div>
</div>
</div>
<h3>Certifications</h3>
<div>
<ul>	
	<li ng-repeat="cert in vm.certifications"> cert.name </li>
</ul>
</div>



<h3>Business Contact</h3>
<ul>
	<li> <strong>Phone:</strong> {{vm.business.contact.phone}}</li>
	<li> <strong>Email:</strong> {{vm.business.contact.email}}</li>
	<li> <strong>Website:</strong> {{vm.business.website}}</li>
</ul>

<h3>Business Address</h3>
<ul>
	<li> <strong>Address:</strong> {{vm.business.contact.address1}}</li>
	<li> <strong>Address 2:</strong> {{vm.business.contact.address2}}</li>
	<li> <strong>City:</strong> {{vm.business.contact.city}}</li>
	<li> <strong>State:</strong> {{vm.business.contact.state}}</li>
	<li> <strong>Zip Code:</strong> {{vm.business.contact.zipcode}}</li>
</ul>
