<div class="container">
        <div class="row">
            <div class="col-sm">
                <!-- optional sidebar -->
            </div>
            <div class="col-sm">
                <form>
                    <div class="form-group">
                        <label for="txtUserName">Login Name</label>
                        <input type="text" class="form-control"id="txtUsername" placeholder="Login-Name" ng-model="business.loginName" required>
                    </div>
                    <div class="form-group">
                        <label for="txtPassword">Password</label>
                        <input type="password" class="form-control" id="txtPassword" placeholder="Password" ng-model="business.loginPassword" required>
                    </div>
                    <button ng-click="vm.setBusiness(business)" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="col-sm">
                <!-- optional sidebar -->
            </div>
        </div>
    </div>