<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top mb-4">
  <a class="navbar-brand" href="#/home">
    <img src="css/img/Auto.png" alt="Brand" width="30" height="30" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a ng-show="!vm.userId && !vm.bizId" class="nav-link" href="#/home">Home
          <span class="sr-only">(current)</span>
        </a>
        <a ng-show="vm.userId && !vm.bizId" class="nav-link" href="#/user/{{vm.userId}}">Home
          <span class="sr-only">(current)</span>
        </a>
        <a ng-show="vm.bizId && !vm.userId" class="nav-link" href="#/business/{{vm.bizId}}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a ng-show="!vm.status"class="nav-link" href="#/register">register</a>
      </li>
      <li class="nav-item">
        <a ng-show="!vm.status" class="nav-link" href="#/login">login</a>
      </li>
      <li class="nav-item">
        <a ng-show="vm.status" class="nav-link" href="#/logout">logout</a>
      </li>
      <div ng-show="!vm.status" class="dropdown show">
        <a class="btn dropdown-toggle" href="#/home" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          business
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#/registerBusiness">register</a>
          <a class="dropdown-item" href="#/loginBusiness">login</a>
        </div>
      </div>
    </ul>
  </div>
</nav>