<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-3">
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" role="tab" aria-controls="profile"
                href="#/user/{{vm.user.id}}/notification">
                <button type="button" class="btn btn-primary">
                    Notifications
                    <span class="badge badge-danger">{{vm.size}}</span>
                </button>
            </a>
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#/user/{{vm.user.id}}"
                role="tab" aria-controls="home">Home</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#/user/{{vm.user.id}}/request"
                    role="tab" aria-controls="profile">View requests</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#/user/{{vm.user.id}}/vehicle"
                    role="tab" aria-controls="messages">View vehicles</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="modal" data-target="#exampleModalLong"
                    role="tab" aria-controls="settings">View businesses</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" role="tab" aria-controls="settings"
                    href="#/user/{{vm.user.id}}/settings">Settings</a>
            </div>
        </div>
        <div class="col-sm">
            <h1>Notifications</h1>
            <ul class="list-group" ng-repeat="n in vm.notifications">
                <li ng-click="vm.destroy(n)" class="list-group-item">{{n.message}}</li>
            </ul>
        </div>
        <!-- <div class="col-sm">
                One of three columns
            </div> -->
    </div>
</div>