<div class="container-fluid">
    <div class="row">
    
    <!-- Side Bar to filter Quotes -->
        <div class="col-sm-3">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="clickable list-group-item list-group-item-action" id="list-home-list" data-toggle="list" ng-click="vm.home()"
						 role="tab" aria-controls="home">Home</a>
				<a class="clickable list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" ng-click="vm.viewAllQuotes()"
						 role="tab" aria-controls="profile">View all quotes</a>
				 <a class="clickable list-group-item list-group-item-action active" id="list-messages-list" data-toggle="list" ng-click="vm.viewPendingQuotes()"
						 role="tab" aria-controls="messages">View pending quotes</a>
				 <a class="clickable list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewAcceptedQuotes()"
						 role="tab" aria-controls="settings">View accepted quotes</a>
				 <a class="clickable list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewCompletedQuotes()"
						 role="tab" aria-controls="settings">View completed quotes</a>
				<a class="clickable list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewRequests()"
				 		role="tab" aria-controls="settings" >View requests in area</a>
				<a class="clickable list-group-item list-group-item-action" id="list-certifications-list" data-toggle="list" ng-click="vm.viewCertifications()"
						 role="tab" aria-controls="messages">View certifications</a>
				<a class="clickable list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewSettings()"
						 role="tab" aria-controls="settings">Settings</a>
			</div>
        </div>
        
        <!-- Quote Table -->
        <div ng-hide="vm.updateFlag" class="col-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click = "vm.sortCriteria = 'id'">Quote Id</th>
                        <th ng-click = "vm.sortCriteria = 'lastName'">Customer</th>
                        <th ng-click = "vm.sortCriteria = 'estimate'">Asking Price</th>
                        <th ng-click = "vm.sortCriteria = 'estimate'">Quote Price</th>
                        <th ng-click = "vm.sortCriteria = 'postDate'">Post Date</th>
                        <th ng-click = "vm.sortCriteria = 'expireDate'">Expire Date</th>
                        <th>View Details</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Pending Quotes -->
                    <tr ng-repeat="q in vm.pendingQuotes">
                        <td>{{q.id}}</td>
                        <td>{{q.request.user.firstName}} {{q.request.user.lastName}}</td>
                        <td>{{q.request.estimate}}</td>
                        <td>{{q.estimate}}</td>
                        <td>{{q.postDate | date: 'MM-dd-yy'}}</td>
                        <td>{{q.expireDate | date: 'MM-dd-yy'}}</td>
                        <td><button class="btn btn-primary" type="button" ng-click="vm.viewDetails(q)">View Details</button></td>
                        <td><button class="btn btn-secondary" type="button" ng-click="vm.update(q)">Update</button></td>
                        <td><button class="btn btn-danger" type="button" ng-click="vm.deleteQuote(q.id)">Delete</button></td>
                    </tr>
                    <!-- End Pending Quotes -->

                </tbody>
            </table>
        </div>
        <div class="col-sm" ng-show="vm.updateFlag">
                <ul class="list-group">

                    <li class="list-group-item">
                      	<label>Quote Description:</label>
                      	<input class="form-control" type="text" ng-model="vm.quote.description">
                    </li>
                    <li class="list-group-item">
                      	<label>Quote Expire Date: </label>
                      	<input class="form-control" type="text" ng-model="vm.quote.expireDate">
                    </li>
                    <li class="list-group-item">
                      	<label>Quote Estimate: </label>
                      	<input class="form-control" type="text" ng-model="vm.quote.estimate">
                    </li>
                    <li class="list-group-item">
                      	<label>Complete Date:</label>
                      	<input class="form-control" type="text" ng-model="vm.quote.completeDate">
                    </li>
                    <li class="list-group-item justify-content-center">
                    		<button type="button" class="btn btn-warning" ng-click="vm.updateFlag = false">Return</button>
						<button type="button" class="btn btn-success" ng-click="vm.updateQuote(vm.quote)">Submit Changes</button>
                    </li>
                </ul>
		</div> 
    </div>
</div>