<div class="container-fluid mt-4">
    <div class="row">
		<div class="col-sm-3">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" ng-click="vm.home()"
						 role="tab" aria-controls="home">Home</a>
				<a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" ng-click="vm.viewAllQuotes()"
						 role="tab" aria-controls="profile">View all quotes</a>
				 <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" ng-click="vm.viewPendingQuotes()"
						 role="tab" aria-controls="messages">View pending quotes</a>
				 <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewAcceptedQuotes()"
						 role="tab" aria-controls="settings">View accepted quotes</a>
				 <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewCompletedQuotes()"
						 role="tab" aria-controls="settings">View completed quotes</a>
				<a class="list-group-item list-group-item-action active" id="list-settings-list" data-toggle="list" ng-click="vm.viewRequests()"
				 		role="tab" aria-controls="settings" >View requests in area</a>
				<a class="list-group-item list-group-item-action" id="list-certifications-list" data-toggle="list" ng-click="vm.viewCertifications()"
						 role="tab" aria-controls="messages">View certifications</a>
				<a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewSettings()"
						 role="tab" aria-controls="settings">Settings</a>
			</div>
		</div>
        <div class="col-sm">
            <h2 class="row justify-content-center">All requests</h2>
            <table class="table" ng-hide="vm.selected">
                <thead>
                    <tr>
                        <th ng-click = "vm.sortCriteria = 'id'">Request Id</th>
                        <th ng-click = "vm.sortCriteria = 'description'">Description</th>
                        <th ng-click = "vm.sortCriteria = 'make'">Make</th>
                        <th ng-click = "vm.sortCriteria = 'model'">Model</th>
                        <th ng-click = "vm.sortCriteria = 'estimate'">Estimate</th>
                        <th ng-click = "vm.sortCriteria = 'completeDate'">Complete By</th>
                        <th ng-click = "vm.sortCriteria = 'expireDate'">Expires By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in vm.requests | orderBy:vm.sortCriteria">
                        <td>{{r.id}}</td>
                        <td>{{r.description}}</td>
                        <td>{{r.vehicle.make}}</td>
                        <td>{{r.vehicle.model}}</td>
                        <td>{{r.estimate | currency}}</td>
                        <td>{{r.completeDate}}</td>
                        <td>{{r.expireDate}}</td>
                        <td>
                            <button class="btn" ng-click="vm.viewDetails(r)">View details</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul ng-show="vm.selected" class="list-group">
                <li class="list-group-item">
                    <label>Name: {{vm.selected.user.firstName}} {{vm.selected.user.lastName}}</label>
                    <br>
                </li>
                <li class="list-group-item">
                    <label>Phone Number: {{vm.selected.user.contact.phone}}</label>
                    <br>
                </li>
                <li class="list-group-item">
                    <label>Email: {{vm.selected.user.contact.email}}</label>
                    <br>
                </li>
                <li class="list-group-item">
                    <label>Vehicle: {{vm.selected.vehicle.make}} {{vm.selected.vehicle.model}}</label>
                    <br>
                </li>
                <li class="list-group-item">
                    <label>Request Description: {{vm.selected.description}}</label>
                    <br>
                </li>
                <li class="list-group-item">
                    <label>Request PostDate: {{vm.selected.postDate}}</label>
                    <br>
                </li>
                <li class="list-group-item">
                    <label>Request Expire Date: {{vm.selected.expireDate}}</label>
                    <br>
                </li>
                <li class="list-group-item">
                    <label>Estimate: {{vm.selected.estimate}}</label>
                    <br>
                </li>
                <li class="list-group-item justify-content-center">
                    <button type="button" class="btn btn-warning" ng-click="vm.selected = null">Return</button>
                    <button type="button" class="btn btn-success" ng-click="vm.quoteFlag = true">Add Quote</button>
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <div ng-show="vm.quoteFlag" class="card card-body">
                <form>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label>Description</label>
                            <input type="text" ng-model="quote.description" />
                        </li>
                        <li class="list-group-item">
                            <label>Estimate</label>
                            <input type="number" ng-model="quote.estimate" />
                        </li>
                        <li class="list-group-item">
                            <label>Complete Date</label>
                            <input type="date" ng-model="quote.completeDate" />
                        </li>
                        <li class="list-group-item">
                            <label>Expire Date</label>
                            <input type="date" ng-model="quote.expireDate" />
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-primary" ng-click="vm.return()">Return</button>
                            <button class="btn btn-primary" ng-click="vm.addQuote(quote)">Add Quote</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>