<h1>All Requests</h1>
<ul>
<div ng-hide="vm.selected" ng-repeat="request in vm.requests">
	<li>Customer's Name : {{request.user.firstName}}
	{{request.user.lastName}}<br>
	Vehicle : {{request.vehicle.make}}
	{{request.vehicle.model}} <br>
	Request Description : {{request.description}}
	<button type="button" ng-click="vm.viewDetails(request)">View Details</button>
	</li>
</div>
</ul>
<div class="container" ng-show="vm.selected">
        <div class="row">
            <div class="col-sm">
                <!-- optional sidebar -->
                <button class="btn btn-primary" ng-click="vm.return()">Return to Request List</button>
            </div>
            <div class="col-sm">
                <ul class="list-group">
                    <li class="list-group-item">
                        <label>Name: {{vm.selected.user.firstName}} {{vm.selected.user.lastName}}</label><br>
                    </li>
                    <li class="list-group-item">
                      	<label>Vehicle: {{vm.selected.vehicle.make}} {{vm.selected.vehicle.model}}</label><br>
                    </li>
                    <li class="list-group-item">
                      	<label>Request Description: {{vm.selected.description}}</label><br>
                    </li>
                    <li class="list-group-item">
                      	<label>Request PostDate: {{vm.selected.postDate}}</label><br>
                    </li>
                    <li class="list-group-item">
                      	<label>Request Expire Date: {{vm.selected.expireDate}}</label><br>
                    </li>
                    <li class="list-group-item">
                      	<label>Estimate: {{vm.selected.estimate}}</label><br>
                    </li>
                    <li class="list-group-item justify-content-center">
                        <button type="button" class="btn btn-warning" ng-click="vm.selected = null">Return</button>
						 <button type="button" class="btn btn-success" ng-click="vm.quoteFlag = true">Add Quote</button>
                    </li>
                </ul>
            </div>

<div ng-show="vm.quoteFlag" class="card card-body">
    <form>
        <ul class="list-group">
            <li class="list-group-item">
                <label>Description</label>
                <input type="text" ng-model="quote.description" />
            </li>
            <li class="list-group-item">
                <label>Estimate</label>
                <input type="number" ng-model="quote.estimate" />
            </li>
            <li class="list-group-item">
                <label>Complete Date</label>
                <input type="date" ng-model="quote.completeDate" />
            </li>
            <li class="list-group-item">
                <label>Expire Date</label>
                <input type="date" ng-model="quote.expireDate" />
            </li>
            <li class="list-group-item">
                <button class="btn btn-primary" ng-click="vm.addQuote(quote)">Add Quote</button>
            </li>
        </ul>
    </form>
</div>
