<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="css/home.min.css" rel="stylesheet">


<div id="page-top">

  <!-- Intro Header -->
  <header class="masthead">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 class="brand-heading">Auto Advisor</h1>
            <p class="intro-text" style="color:lightgreen;">A networking application for mechanics and customers
              <br>

              <a ng-click="vm.scrollTo('about')" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
          </div>
        </div>
      </div>
    </div>
  </header>


  <section id="about" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About Auto Advisor</h2>
          <p>We are a free, easy to use website designed to bring convenient and cost effective solutions to all of your auto
            needs!

            <p>Simply add a request to any problem you need fixed, and auto shops in the area will come to you with their best
              estimates, so you can choose the best price for you.
            </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="content-section text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact the Developers</h2>
          <br>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <table  id="home-table" class="table">
                  <tr>
                    <td style="padding:5px;">
                      <h3>Airik's
                        <a href="http://airikleon.io/" target="_blank" title="Airik Leon's Personal Website">
                          Portfolio
                        </a>
                        <img style="width:200px; height:200px; border-radius:100px;" src="./css/img/airik.jpeg" alt="Picture of Airik">
                      </h3>
                      <a style="width:120px;" class="btn btn-social btn-github" href="https://github.com/Airik-Leon" target="_blank" title="Airik Leon's GitHub Repos">
                        <span class="fa fa-github"></span>
                        GitHub
                      </a>
                      <a  style="width:120px;" class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/airik-leon-b0730a93/" target="_blank" title="Airik Leon's LinkedIn">
                        <span class="fa fa-linkedin"></span> LinkedIn
                      </a>
                    </td>
                    <td style="padding:5px;">
                      <h3>David's
                        <a href="http://18.216.47.133/" target="_blank" title="David Stumpe's Personal Website">
                          Portfolio
                        </a>
                        <img  style="width:200px; height:200px; border-radius:100px;" src="./css/img/stumpe.jpeg" alt="Picture of Stumpe">
                      </h3>
                      <a style="width:120px;" class="btn btn-social btn-github" href="https://github.com/dstumpe264" target="_blank" title="David Stumpe's GitHub Repos">
                        <span class="fa fa-github"></span>
                        GitHub
                      </a>
                      <a  style="width:120px;" class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/davidstumpe/" target="_blank" title="David Stumpe's LinkedIn">
                        <span class="fa fa-linkedin"></span>
                        LinkedIn
                      </a>
                    </td>
                    <td style="padding:5px;">
                      <h3>David's
                        <a href="http://18.220.183.119/" target="_blank" title="David Chirdon's Personal Website">
                          Portfolio
                        </a>
                        <img  style="width:200px; height:200px; border-radius:100px;"  src="./css/img/dave.jpeg" alt="Picture of Dave">
                      </h3>
                      <a  style="width:120px;" class="btn btn-social btn-github" href="https://github.com/dchirdon" target="_blank" title="David Chirdon's GitHub Repos">
                        <span class="fa fa-github"></span> GitHub
                      </a>
                      <a style="width:120px;"  class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/david-chirdon-140560b6/" target="_blank" title="David Chirdon's LinkedIn">
                        <span class="fa fa-linkedin"></span> LinkedIn
                      </a>
                    </td>
                    <td style="padding:5px;">
                      <h3>Jason's
                        <a href="http://jdcald13.com/" target="_blank" title="Jason Caldwell's Personal Website">
                          Portfolio
                        </a>
                        <img  style="width:200px; height:200px; border-radius:100px;" src="./css/img/jason.jpeg" alt="Picture of Jason">
                      </h3>
                      <a style="width:120px;" class="btn btn-social btn-github" href="https://github.com/jdcald13" target="_blank" title="Jason Caldwell's GitHub Repos">
                        <span class="fa fa-github"></span> GitHub
                      </a>
                      <a  style="width:120px;" class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/jdcald13/" target="_blank" title="Jason Caldwell's LinkedIn">
                        <span class="fa fa-linkedin"></span>
                        LinkedIn
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

  <!-- Custom scripts for this template -->
  <script src="js/grayscale.min.js"></script>

</div>