<div class="container">
	<div class="row">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Business Certifications</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cert in vm.certifications">
					<td>{{cert.name}}</td>
					<td>
						<button class="btn btn-secondary"
							ng-click="vm.detailView(cert.id)">Update</button>
					</td>
					<td>
						<button class="btn btn-danger" ng-click="vm.destroy(cert.id)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="col-sm">
			<div class="col-sm-8">
				<h4>Add Certification</h4>
				<div>
					<div class="card card-body">
						<ul class="list-group">
							<li class="list-group-item"><label>Name</label><input
								type="text" ng-model="certification.name" /></li>
							<li class="list-group-item"><button class="btn btn-primary"
									ng-click="vm.addCertification(certification)">Add
									Certification</button></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
