<div class="container">
    <div class="row">
        <div class="col-sm">
            <!-- optional sidebar -->
            <button class="btn btn-primary" ng-click="vm.return()">Return to user home</button>
        </div>
        <div class="col-sm">
            <div>
                <div class="form-group">
                        <label for="txtFirstName">First Name</label>
                        <input type="text" class="form-control" ng-model="vm.user.firstName" id="txtFirstName" placeholder="Enter FirstName"/>
                </div>
                <div class="form-group">
                        <label for="txtLastName">Last Name</label>
                        <input type="text" class="form-control" ng-model="vm.user.lastName" id="txtAddress1" placeholder="Enter last name">
                </div>
                <div class="form-group">
                        <label for="txtAddress1">Address 1</label>
                        <input type="text" class="form-control" ng-model="vm.user.contact.address1" id="txtAddress1" placeholder="Enter address1">
                </div>
                    <div class="form-group">
                        <label for="txtAddress2">Address 2</label>
                        <input type="text" class="form-control" id="txtAddress2" placeholder="First name" ng-model="vm.user.contact.address2">
                    </div>
                    <div class="form-group">
                        <label for="txtZipcode">Zip code</label>
                        <input type="text" class="form-control" id="txtZipcode" ng-model="vm.user.contact.zipcode" required>
                    </div>
                    <div class="form-group">
                        <label for="txtCity">City</label>
                        <input type="text" class="form-control" id="txtCity" ng-model="vm.user.contact.city">
                    </div>
                    <div class="form-group">
                        <label for="txtState">State</label>
                        <input type="text" class="form-control" id="txtState" ng-model="vm.user.contact.state">
                    </div>
                    <div class="form-group">
                        <label for="txtPhone">Phone</label>
                        <input type="phone" class="form-control" id="txtPhone" ng-model="vm.user.contact.phone" required>
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Email</label>
                        <input type="email" class="form-control" id="txtEmail" ng-model="vm.user.contact.email" required>
                    </div>
                    <button ng-click="vm.return()" class="btn btn-primary">Back</button>
                    <button ng-click="vm.updateUser(vm.user)" class="btn btn-primary">Save</button>
            </div>
        </div>
        <div class="col-sm">
            <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">
    Delete Account
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="delete">Are you sure you want to delete your account?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <button  data-dismiss="modal" class="btn btn-danger" ng-click="vm.destroyAccount()">Delete</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
        </div>
    </div>
</div>