<div class="container-fluid mt-4 mb-4">
    <div class="row">
        <div class="col-sm-2">
            <a class="" id="list-profile-list" data-toggle="list" role="tab" aria-controls="profile" ng-click="vm.getNotifications()">
                <button type="button" class="btn btn-outline-danger">
                    Notifications
                    <span class="badge badge-danger border col-sm-2">{{vm.size}}</span>
                </button>
            </a>
            <div class="list-group mt-2" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" ng-click="vm.getHome()" role="tab"
                    aria-controls="home">Home</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" ng-click="vm.getRequests()"
                    role="tab" aria-controls="profile">View requests</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" ng-click="vm.getVehicles()"
                    role="tab" aria-controls="messages">View vehicles</a>
                <a class="list-group-item list-group-item-action active" id="list-settings-list" data-toggle="list" role="tab" aria-controls="settings"
                    ng-click="vm.getSettings()">Settings</a>
            </div>
            <div class="justify-content-left bg-white rounded mt-2 p-2 border">
                <h6 class="row justify-content-center">Contact information</h6>
                <hr/>
                <label>Address: {{vm.user.contact.address1}}</label>
                </br>
                <label>City: {{vm.user.contact.city}}</label>
                </br>
                <label>State: {{vm.user.contact.state}}</label>
                </br>
                <label>Zipcode: {{vm.user.contact.zipcode}}</label>
                </br>
                <label>Phone: {{vm.user.contact.phone}}</label>
                </br>
                <label>Email: {{vm.user.contact.email}}</label>
                </br>
            </div>
        </div>
        <div class="col-sm  bg-light p-4 rounded">
            <div class="form-group">
                <label for="txtFirstName">First Name</label>
                <input type="text" class="form-control" ng-model="vm.updatedUser.firstName" id="txtFirstName" placeholder="Enter first name" />
            </div>
            <div class="form-group">
                <label for="txtLastName">Last Name</label>
                <input type="text" class="form-control" ng-model="vm.updatedUser.lastName" id="txtAddress1" placeholder="Enter last name">
            </div>
            <div class="form-group">
                <label for="txtAddress1">Address 1</label>
                <input type="text" class="form-control" ng-model="vm.updatedUser.contact.address1" id="txtAddress1" placeholder="Ex: 905 s broadway address1">
            </div>
            <div class="form-group">
                <label for="txtAddress2">Address 2</label>
                <input type="text" class="form-control" id="txtAddress2" placeholder="Ex: apt 44" ng-model="vm.updatedUser.contact.address2">
            </div>
            <div class="form-group">
                <label for="txtZipcode">Zip code</label>
                <input type="text" class="form-control" id="txtZipcode" ng-model="vm.updatedUser.contact.zipcode" placeholder="Ex: 454733" required>
            </div>
            <div class="form-group">
                <label for="txtCity">City</label>
                <input type="text" class="form-control" id="txtCity" ng-model="vm.updatedUser.contact.city" placeholder="Kansas City">
            </div>
            <div class="form-group">
                <label for="txtState">State</label>
                <input type="text" class="form-control" id="txtState" ng-model="vm.updatedUser.contact.state" placeholder="Ex: Missouri">
            </div>
            <div class="form-group">
                <label for="txtPhone">Phone</label>
                <input type="text" class="form-control" id="txtPhone" ng-model="vm.updatedUser.contact.phone" required placeholder="Ex: 8269890872">
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="email" class="form-control" id="txtEmail" ng-model="vm.updatedUser.contact.email" required placeholder="user@gmail.com">
            </div>
            <button ng-click="vm.return()" class="btn btn-primary">Back</button>
            <button ng-click="vm.updateUser(vm.updatedUser)" class="btn btn-primary">Save</button>
        </div>
        <div class="col-sm">
            <div class="col-sm">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">
                    Delete Account
                </button>
                <div ng-show="vm.updatedUser" class="alert alert-success mt-2 col-sm" role="alert">
                    Update was successful!
                </div>
                <!-- Modal -->
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="delete">Are you sure you want to delete your account?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label>Don't worry you can always restore your account. This will just disable your profile</label>
                                <button data-dismiss="modal" class="btn btn-danger" ng-click="vm.destroyAccount()">Delete</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>