<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-2">
            <a class="" id="list-profile-list" data-toggle="list" role="tab" aria-controls="profile" ng-click="vm.getNotifications()">
                <button type="button" class="btn btn-outline-danger">
                    Notifications
                    <span class="badge badge-danger border col-sm-2">{{vm.size}}</span>
                </button>
            </a>
            <div class="list-group mt-2" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" ng-click="vm.getHome()" role="tab"
                    aria-controls="home">Home</a>
                <a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="list" ng-click="vm.getRequests()"
                    role="tab" aria-controls="profile">View requests</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" ng-click="vm.getVehicles()"
                    role="tab" aria-controls="messages">View vehicles</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" role="tab" aria-controls="settings"
                    ng-click="vm.getSettings()">Settings</a>
            </div>
            <div class="justify-content-left bg-white rounded mt-2 p-2 border">
                <h6 class="row justify-content-center">Contact information</h6>
                <hr/>
                <label>Address: {{vm.user.contact.address1}}</label>
                </br>
                <label>City: {{vm.user.contact.city}}</label>
                </br>
                <label>State: {{vm.user.contact.state}}</label>
                </br>
                <label>Zipcode: {{vm.user.contact.zipcode}}</label>
                </br>
                <label>Phone: {{vm.user.contact.phone}}</label>
                </br>
                <label>Email: {{vm.user.contact.email}}</label>
                </br>
            </div>
        </div>
        <div class="col-sm">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th ng-click="vm.sortCriteria = 'id'">#</th>
                        <th ng-click="vm.sortCriteria = 'estimate'">Estimate</th>
                        <th ng-click="vm.sortCriteria = 'vin'">Vehicle VIN</th>
                        <th ng-click="vm.sortCriteria = 'completeDate'">Complete date</th>
                        <th ng-click="vm.sortCriteria = 'completed'">Completed</th>
                        <th ng-click="vm.sortCriteria = 'postDate'">Post Date</th>
                        <th ng-click="vm.sortCriteria = 'expireDate'">Expire date</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in vm.requests | orderBy:vm.sortCriteria">
                        <td ng-click="vm.detailView(r.id)">{{r.id}}</td>
                        <td>{{r.estimate | currency}}</td>
                        <td>{{r.vehicle.vin}}</td>
                        <td>{{r.completeDate | date: 'MM-dd-yy'}}</td>
                        <td>{{r.completed}}</td>
                        <td>{{r.postDate | date: 'MM-dd-yy'}}</td>
                        <td>{{r.expireDate | date: 'MM-dd-yy'}}</td>
                        <td>
                            <button class="btn btn-secondary" ng-click="vm.detailView(r.id)">View/Update</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="vm.destroy(request)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">Add a Request </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <label>Vehicle VIN</label>
                    <select ng-model="vm.vehicle" ng-options="v.vin for v in vm.vehicles" required>
                    </select>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label>Estimate</label>
                            <input class="form-control" type="text" ng-model="request.estimate" />
                        </li>
                        <li class="list-group-item">
                            <label>Complete Date</label>
                            <input class="form-control" type="date" ng-model="request.completeDate" />
                        </li>
                        <li class="list-group-item">
                            <label>Description</label>
                            <input class="form-control" type="text" ng-model="request.description" />
                        </li>
                        <li class="list-group-item">
                            <label>Expire Date</label>
                            <input class="form-control" type="date" ng-model="request.expireDate" />
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-primary" ng-click="vm.addRequest(request)">Add Request</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>