<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<ul class="list-group">
				<li class="list-group-item">
					<strong>Phone:</strong> {{vm.business.contact.phone}}</li>
				<li class="list-group-item">
					<strong>Email:</strong> {{vm.business.contact.email}}</li>
				<li class="list-group-item">
					<strong>Website:</strong><a href="{{vm.business.website}}">{{vm.business.website}}</a></li>
				<li class="list-group-item">
					<strong>Address:</strong> {{vm.business.contact.address1}}</li>
				<li class="list-group-item">
					<strong>Address 2:</strong> {{vm.business.contact.address2}}</li>
				<li class="list-group-item">
					<strong>City:</strong> {{vm.business.contact.city}}</li>
				<li class="list-group-item">
					<strong>State:</strong> {{vm.business.contact.state}}</li>
				<li class="list-group-item">
					<strong>Zip Code:</strong> {{vm.business.contact.zipcode}}</li>
			</ul>
		</div>
		<div class="col-sm">
	   	 <h1>Map</h1>
		   <div map-lazy-load="https://maps.google.com/maps/api/js"
		       map-lazy-load-params="{{vm.googleMapsUrl}}">
		       <ng-map center="{{vm.business.contact.latitude}},{{vm.business.contact.longitude}}" zoom="8">
		         <marker position="[{{vm.business.contact.latitude}},{{vm.business.contact.longitude}}]"></marker>
		       </ng-map>
		   </div>
		</div>

	</div>
</div>
