<div class="container-fluid">
    <div class="row">
    
    <!-- Side Bar to filter Quotes -->
        <div class="col-sm-3">
            			<div class="list-group" id="list-tab" role="tablist">
				<a class="clickable list-group-item list-group-item-action" id="list-home-list" data-toggle="list" ng-click="vm.home()"
						 role="tab" aria-controls="home">Home</a>
				<a class="clickable list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" ng-click="vm.viewAllQuotes()"
						 role="tab" aria-controls="profile">View all quotes</a>
				 <a class="clickable list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" ng-click="vm.viewPendingQuotes()"
						 role="tab" aria-controls="messages">View pending quotes</a>
				 <a class="clickable list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewAcceptedQuotes()"
						 role="tab" aria-controls="settings">View accepted quotes</a>
				 <a class="clickable list-group-item list-group-item-action active" id="list-settings-list" data-toggle="list" ng-click="vm.viewCompletedQuotes()"
						 role="tab" aria-controls="settings">View completed quotes</a>
				<a class="clickable list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewRequests()"
				 		role="tab" aria-controls="settings" >View requests in area</a>
				<a class="clickable list-group-item list-group-item-action" id="list-certifications-list" data-toggle="list" ng-click="vm.viewCertifications()"
						 role="tab" aria-controls="messages">View certifications</a>
				<a class="clickable list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewSettings()"
						 role="tab" aria-controls="settings">Settings</a>
			</div>
        </div>
        
        <!-- Quote Table -->
        <div class="col-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th>Quote id</th>
                        <th>Customer</th>
                        <th>Post date</th>
                        <th>Expire date</th>
                        <th>Complete date</th>
                        <th>View Details</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="q in vm.completedQuotes">
                        <td>{{q.id}}</td>
                        <td>{{q.request.user.firstName}} {{q.request.user.lastName}}</td>
                        <td>{{q.postDate | date: 'MM-dd-yy'}}</td>
                        <td>{{q.expireDate | date: 'MM-dd-yy'}}</td>
                        <td>{{q.completeDate | date: 'MM-dd-yy'}}</td>
                        <td><button class="btn btn-primary" type="button" ng-click="vm.viewDetails(q)">View Details</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- <div class="col-sm">
            One of three columns
        </div> -->
    </div>
</div>