<section class="container">
	<h2>Contact the Developers</h2>
	<div>
		<h3> Airik Leon 
		<a class="btn btn-social btn-github" href="https://github.com/Airik-Leon" target="_blank" title="Airik Leon's GitHub Repos">
			<span class="fa fa-github"></span> GitHub
		</a>
		<a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/airik-leon-b0730a93/" target="_blank" title="Airik Leon's LinkedIn">
			<span class="fa fa-linkedin"></span> LinkedIn
		</a>
		</h3>
	</div>
	<div>
		<h3> David Stumpe 
		<a class="btn btn-social btn-github" href="https://github.com/dstumpe264" target="_blank" title="David Stumpe's GitHub Repos">
			<span class="fa fa-github"></span> GitHub
		</a>
		<a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/davidstumpe/" target="_blank" title="David Stumpe's LinkedIn">
			<span class="fa fa-linkedin"></span> LinkedIn
		</a>
		</h3>
	</div>
	<div>
		<h3> David Chirdon 
		<a class="btn btn-social btn-github" href="https://github.com/dchirdon" target="_blank" title="David Chirdon's GitHub Repos">
			<span class="fa fa-github"></span> GitHub
		</a>
		<!-- Need to confirm this is Dave's linked in -->
		<a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/david-chirdon-140560b6/" target="_blank" title="David Chirdon's LinkedIn">
			<span class="fa fa-linkedin"></span> LinkedIn
		</a>
		</h3>
	</div>
	<div>
		<h3> Jason Caldwell 
		<a class="btn btn-social btn-github" href="https://github.com/jdcald13" target="_blank" title="Jason Caldwell's GitHub Repos">
			<span class="fa fa-github"></span> GitHub
		</a>
		<a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/jdcald13/" target="_blank" title="Jason Caldwell's LinkedIn">
			<span class="fa fa-linkedin"></span> LinkedIn
		</a>
		</h3>
	</div>
</section>