<h1>All Requests</h1>
<ul>
<div ng-hide="vm.selected" ng-repeat="request in vm.requests">
<li>Customer's Name : {{request.user.firstName}}
{{request.user.lastName}}<br>
Vehicle : {{request.vehicle.make}}
{{request.vehicle.model}} <br>
Request Description : {{request.description}}
<button type="button" ng-click="vm.viewDetails(request)">View Details</button>
</li>
</div>
</ul>
<div ng-show="vm.selected">
{{vm.selected}}
<button type="button" ng-click="vm.selected = null">Return</button>
 <button type="button" ng-click="vm.quoteFlag = true">Add Quote</button>
</div>


<div ng-show="vm.quoteFlag" class="card card-body">
    <form>
        <ul class="list-group">
            <li class="list-group-item">
                <label>Description</label>
                <input type="text" ng-model="quote.description" />
            </li>
            <li class="list-group-item">
                <label>Estimate</label>
                <input type="number" ng-model="quote.estimate" />
            </li>
            <li class="list-group-item">
                <label>Complete Date</label>
                <input type="date" ng-model="quote.completeDate" />
            </li>
            <li class="list-group-item">
                <label>Expire Date</label>
                <input type="date" ng-model="quote.expireDate" />
            </li>
            <li class="list-group-item">
                <button class="btn btn-primary" ng-click="vm.addQuote(quote)">Add Quote</button>
            </li>
        </ul>
    </form>
</div>
