<div class="container">
    <div class="row">
        <div class="col-sm">
            <!-- optional sidebar -->
            <h6>
                {{vm.user.firstName}} {{vm.user.lastName}}
            </h6>

            <button class="btn btn-primary" ng-click="vm.getRequests()">Add Request</button>
            <button class="btn btn-primary" ng-click="vm.getVehicles()">
                Add Vehicle</button>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <!-- optional sidebar -->
            <button class="btn btn-secondary" ng-click="vm.getSettings()">Settings</button>
        </div>
    </div>
</div>