<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-3">
            <a class="" id="list-messages-list" data-toggle="list" href="#/business/{{vm.business.id}}/businessNotification" role="tab"
                aria-controls="messages">
                <button type="button" class="btn btn-danger">
                    Notifications
                    <span class="badge badge-white ">{{vm.size}}</span>
                </button>
            </a>
            <div class="list-group mt-2 " id="list-tab" role="tablist">
                <a class="clickable list-group-item list-group-item-action " id="list-home-list" data-toggle="list" ng-click="vm.home()"
                    role="tab" aria-controls="home">Home</a>
                <a class="clickable list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" ng-click="vm.viewAllQuotes()"
                    role="tab" aria-controls="profile">View all quotes</a>
                <a class="clickable list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewAcceptedQuotes()"
                    role="tab" aria-controls="settings">View accepted quotes</a>
                <a class="clickable list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewCompletedQuotes()"
                    role="tab" aria-controls="settings">View completed quotes</a>
                <a class="clickable list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewRequests()"
                    role="tab" aria-controls="settings">View requests in area</a>
                <a class="clickable list-group-item list-group-item-action" id="list-certifications-list" data-toggle="list" ng-click="vm.viewCertifications()"
                    role="tab" aria-controls="messages">View certifications</a>
                <a class="clickable list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" ng-click="vm.viewSettings()"
                    role="tab" aria-controls="settings">Settings</a>
            </div>
            <div class="justify-content-left bg-white rounded mt-2 p-2 border">
                <h6 class="row justify-content-center">Contact Information</h6>
                <hr/>
                <label>
                    <strong>Phone: </strong> {{vm.business.contact.phone}}</label>
                <br/>
                <label>
                    <strong>Email: </strong> {{vm.business.contact.email}}</label>
                <br/>
                <label>
                    <strong>Website: </strong> {{vm.business.contact.website}}</label>
                <br/>
                <label>
                    <strong>Address: </strong> {{vm.business.contact.address1}}</label>
                <br/>
                <label>
                    <strong>Address 2: </strong> {{vm.business.contact.address2}}</label>
                <br/>
                <label>
                    <strong>City: </strong> {{vm.business.contact.city}}</label>
                <br/>
                <label>
                    <strong>State: </strong> {{vm.business.contact.state}}</label>
                <br/>
                <label>
                    <strong>Zipcode: </strong> {{vm.business.contact.zipcode}}</label>
                <br/>
            </div>
        </div>
        <div class="col-sm">
            <h1>{{vm.business.companyName}}, your notifications are here.</h1>
            <p>(psst...click to delete a notification)</p>
            <ul class="list-group" ng-repeat="n in vm.notifications">
                <li ng-click="vm.destroy(n)" class="list-group-item">{{n.message}}</li>
            </ul>
        </div>
    </div>